# macOS-spezifische Dateien
.DS_Store

# Log-Dateien
*.log

# Andere sensible oder unnötige Dateien
.env
.vscode/

# Ausschließen der images und fonts Ordner
/images/
/fonts/

# Ausschließen der favicon.ico und logo.svg Dateien
/favicon.ico
/logo.svg